body {
  font-family: 'Josefin Sans';
  background-color: #FFFAFB;
  
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.hero-banner-img {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 700px;
  height: 900px;
  margin-top: -310px;

}

/* -------- */
.heroTitle{
  margin-top: 64px!important;
  font-weight: 600!important;
  color: #ff2625;
  font-size: 200px!important;
  opacity: 0.15;
}

.hero-btn:hover{
  color: #fff;
}

.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #FF2625;
  border-bottom-left-radius: 20px;
  text-decoration: none!important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-btn{
  margin-left: 21px!important;
  color: #fff!important;
  font-size: 14px;
  border-radius: 20px!important;
  text-transform: capitalize;
}
.exercise-btn:hover{
  color: #16bd48!important;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  cursor: pointer;
  padding: 0.5rem;
  width: 170px;
  height: 180px;
  gap: 25px;
}
.bodyPart-card.selected {
  border-top: 3px solid #2f9b55;
  background-color: #fff;
}

@media screen and (min-width:1200px) {
  .bodyPart-card {
      transform: scale(1, 1);
      cursor: pointer;
      padding: 0.5rem;
      width: 270px;
      height: 280px;
      gap: 47px;
    }
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: auto;
  text-decoration: none!important;
  background-color: #fff;
  padding-bottom: 25px;
  box-shadow: 0px 0px 5px rgba(41, 41, 41, 0.447);
}
.exercise-video:hover{
  box-shadow: 0px 0px 5px rgb(41, 41, 41);
}


@media screen and (max-width:1200px) {
  

  /* ----- */
  .heroTitle{
    display: none;
  }


  .detail-image {
    width: 300px;
    height: 300px;
  }


  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: auto;
  }

}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}




/* vertical wscroll */
.vertical-scroll::-webkit-scrollbar {
  width: 2em;
  height: 0.5em;
  cursor: pointer;
}

.vertical-scroll::-webkit-scrollbar-track {
  background: hsl(0, 0%, 80%);
  border-radius: 100vw;
  margin-block: 0.5em;
}

.vertical-scroll::-webkit-scrollbar-thumb {
  background: hsla(3, 97%, 45%, 0.671);
  border: 0.25em solid hsl(14, 98%, 47%);
  border-radius: 100vw;
}

.vertical-scroll::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 79%, 41%);
}
